/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    /*background-color: rgb(35,171,182); /* Teal color */ 
    background-color: rgb(0,90,255); /* blue color */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; /* Needed for absolute positioning of the logo */
}

header h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px; /* Changed from right to left */
}

.logo img {
    max-height: 50px;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
}

.menu a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
}

.menu a:hover {
    color: #4CAF50;
}

/* Section Styles */
section {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.item p {
    margin: 10px 0;
}

.item p.name {
    font-weight: bold;
}

.item p.price {
    font-weight: bold;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #45a049;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
